/* * {
  border: 1px dotted red;
} */

.slider-labels {
  display: flex;
  justify-content: space-between;
}

.slider-labels span {
  width: 20%;
  text-align: center;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: lightblue;
  color: black;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}

#playerList {
  margin-top: 20px;
}

.player-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(173, 216, 230, 0.523);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.player-name {
  font-size: 16px;
  margin: 0;
}

.remove-button {
  margin-left: 20px;
}

header {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
  background-color: hsl(198, 14%, 15%);
  display: flex;
  justify-content: space-between;
}

h1 {
  padding-left: 20px
}

footer {
  background-color: hsl(198, 14%, 15%);
  padding: 15px;
  margin-top: 15px;
  color: white;
}

.card-header {
  background-color: hsl(198, 14%, 15%);
}

.card-footer {
  background-color: hsl(198, 14%, 15%);
}

.card {
  border-color: hsl(198, 14%, 15%);
}

/* Nav bar */

nav {
  background-color: hsl(198, 14%, 15%);
  color: #FFFFFF;
  border: 0;
  margin: 0;
  overflow: hidden;
  float: right;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
}

.navbar a {
  float: left;
  color: white;
  padding: 15px 17px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-expand-lg {
  padding-top: -15px;
}

.navbar a:hover {
  background-color: orange;
  color: #FFFFFF;
}

.navbar a.active {
  background-color: orange;
  color: #17252A;
}

.navbar-toggler {
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  background-image: linear-gradient(to bottom right, lightblue, rgb(255, 166, 0));
}

.header {
  color: white;
}

.nav-link {
  color: white;
}

#question {
  color: white;
}

.addButton {
  background-color: lightblue;
}

#playGame {
  background-color: lightblue;
}